<ion-header>
  <ion-toolbar>
    <ion-title>aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="height: 100vh;" text-center>
  <h1>
    Parabéns, você está autenticado.
  </h1>
  <h2>Bem-vindo a área restrita.</h2>

  <h3>Você está logado como: <b>Nome</b></h3>

  <hr />

  <ion-button expand="full" (click)="loadSpecialInfo()"
    >Load Special Info</ion-button
  >
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
</ion-content>
